button {
  cursor: pointer; }

body::-webkit-scrollbar {
  width: 6px;
  background-color: #ccc; }

body::-webkit-scrollbar-thumb {
  background-color: #9896A4;
  border-radius: 1px; }

body {
  font-family: 'Roboto', sans-serif; }

.butercup {
  background-color: #FAE03C !important; }

.snorkel-blue {
  background-color: #034F84 !important; }

.snorkel-blue-footer {
  background-color: #034F84 !important;
  border-top: 3px solid #FAE03C; }

.serenity {
  background-color: #91A8D0 !important; }

.lilac-grey {
  background-color: #9896A4 !important; }

.is-active {
  font-weight: bold; }

.box-layout {
  align-items: center;
  background: url("/images/bg.jpg");
  background-size: cover;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100vw; }

.box-layout__box {
  background: rgba(255, 255, 255, 0.85);
  border-radius: 3px;
  padding: 3.2rem 1.6rem;
  text-align: center;
  width: 25rem; }

.box-layout__title {
  margin: 0 0 1.6rem 0;
  line-height: 1; }

.boxed-view--modal {
  background: rgba(221, 221, 221, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }

.boxed-view {
  align-items: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100vw; }

.boxed-view__box {
  background-color: white;
  padding: 2.4rem;
  text-align: center;
  width: 20rem; }

.mt-6 {
  position: absolute;
  top: 67px; }

@media screen and (max-width: 576px) {
  .mt-6 {
    position: absolute;
    top: 77px; } }

.header {
  font-family: 'Open Sans', sans-serif; }

.header__content {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 1.2rem 0; }

.header__title {
  color: white;
  text-decoration: none; }
  .header__title h1 {
    margin: 0; }

.stat {
  flex-direction: row;
  justify-content: space-between; }

.hr-adjust {
  margin-top: 0;
  margin-bottom: 0; }

.h4 {
  font-size: 1rem; }

.faq-p {
  font-family: initial;
  font-weight: 100;
  font-size: 0.9rem; }

.mb-7 {
  margin-bottom: 4rem; }

.hr {
  border-top: 2px solid rgba(0, 0, 0, 0.1);
  width: 95%; }

.hr-full {
  width: 100%; }

.fixed-action {
  position: fixed;
  margin-left: 72rem;
  margin-top: 22rem; }

.btn-floating {
  outline: none;
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  background-color: #FAE03C;
  color: white;
  font-size: 2rem;
  cursor: pointer;
  vertical-align: middle;
  transition: background-color .3s;
  z-index: 1;
  position: relative;
  border: none;
  text-decoration: none;
  text-align: center; }

.btn-floating:hover {
  color: white;
  text-decoration: none;
  background-color: #e4c506;
  border-color: #e4c506; }

.btn-floating:active {
  color: white;
  text-decoration: none;
  background-color: #e4c506;
  border-color: #e4c506; }

.btn-floating:focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(251, 232, 110, 0.73); }

.light {
  color: white; }

.snorkel-blue__color {
  color: #034F84; }

.brand-adjust {
  font-size: 2.5rem;
  font-weight: bold; }

.navbar-adjust {
  padding: 0.1rem 1rem; }

.line-adjust {
  line-height: 2; }

.navbar-adjust-all {
  padding: 0.4rem 1rem; }

.x3 {
  font-size: 2rem; }

.round {
  height: 3rem;
  width: 3rem;
  background-color: white;
  border-radius: 50%;
  cursor: pointer; }

.round:hover {
  background-color: #cccccc; }

.light-weight {
  font-weight: 200; }

.cursor {
  cursor: pointer; }

.bd-lead {
  font-size: 1.3rem;
  font-weight: 200; }

.btn:focus {
  outline: 0;
  background-color: #91A8D0;
  background-image: none;
  border-color: #91A8D0;
  box-shadow: 0 0 0 0.2rem rgba(181, 196, 223, 0.34);
  color: black; }

.btn {
  background-color: transparent;
  background-image: none;
  border-color: #91A8D0;
  color: #91A8D0; }

.btn:hover {
  background-color: #91A8D0;
  color: black; }

.btn:active {
  background-color: #91A8D0;
  color: black; }

.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #80bdff;
  outline: none;
  box-shadow: 0 0 0 0.2rem rgba(181, 196, 223, 0.34); }

.nav-brand {
  background-color: #5eacd0 !important; }

.aa {
  color: white;
  text-decoration: none; }

.aa:hover {
  text-decoration: none;
  color: white; }

.stat--time {
  padding-right: 15px;
  margin-top: 1rem;
  margin-bottom: 1rem; }

.post--title {
  font-size: 3rem;
  font-weight: 400; }

.post--body {
  font-size: 1.5rem;
  font-weight: 300; }

.a {
  color: black;
  font-weight: 500;
  width: 89%; }

.a:hover {
  color: black; }

.error {
  margin-left: 15px;
  margin-right: 15px; }

.mt {
  margin-top: 2rem !important; }

.no-radius {
  border-radius: 0px; }

.card--adjust {
  height: 32rem; }

.btn-radius {
  width: 4rem;
  border-radius: 2rem;
  height: 4rem; }

.faq-btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  width: 23rem;
  height: 4rem;
  background-color: #91A8D0;
  color: black; }

.faq-btn:hover {
  background-color: white; }

.reset-form {
  display: block;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #ffffff;
  background-image: none;
  background-clip: padding-box;
  border-radius: 0.25rem;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s; }

.none {
  display: none; }

.modal {
  display: block; }

.front {
  display: block !important;
  position: absolute;
  left: 0;
  top: inherit;
  width: 100% !important;
  background-color: transparent;
  margin: 1px 0 0;
  z-index: 1052;
  box-sizing: border-box;
  box-shadow: none;
  border-radius: 0;
  transition: visibility .3s linear .3s, opacity .3s ease .3s; }

.adjust-height {
  height: 14.3rem; }

.active-faq:active {
  background-color: aliceblue;
  border-radius: 0.4rem; }

.lorem {
  font-size: 0.8rem; }

.nav-border {
  border-bottom: 3px solid #FAE03C; }

.back-color {
  background-color: #f5f5f5; }

.white-color {
  background-color: white; }

.white-color-text {
  color: white; }

.reset-form-radius {
  border: 1px solid #91A8D0;
  width: 30rem;
  height: 3rem;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right: 0; }

.reset-form:focus {
  outline: 0; }

.footer-align {
  position: relative;
  margin-top: 14.5rem !important; }

.reverse {
  display: flex;
  flex-direction: row-reverse; }

.reset-btn {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0; }

.flex {
  display: flex; }

.ml-6 {
  margin-left: 1.3rem !important; }

.auto-auto {
  margin-left: auto;
  margin-right: auto; }

.card-hov:hover {
  box-shadow: 1px 1px 1px 1px #b7b2b2; }

.h-5 {
  font-weight: 400; }

.p {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 300; }
