// Colors
$dark-grey: #333;
$grey: #dddddd;
$blue: #1c88bf;
$dark-blue: #364051;
$off-white: #f7f7f7;
$butercup: #FAE03C;
$snorkel-blue: #034F84;
$serenity: #91A8D0;
$lilac-grey: #9896A4;
// Font Size
$font-size-large: 1.8rem;
$font-size-small: 1.4rem;
// Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$size: 1rem;
$boxed-view-overlay-bg: $grey;
$boxed-view-bg: white;
$desktop-breakpoint: 45rem;
